# CPU version for local testing

jax==0.4.29
jaxlib==0.4.29

flax
optax
chex
tensorflow
tensorflow-probability
brax
evosax==0.1.4
gym
gymnax
mujoco
openai
pysr
distrax

wandb
matplotlib
seaborn
pandas
gin-config

ipython
jupyterlab
tqdm
scipy
absl-py